
ion-x-timeline {
  display: flex;
  flex-direction: column;

  position: relative;

  --timeline-divider-line-background: var(--ion-color-step-200, #cccccc);
  --timeline-divider-dot-background: var(--ion-color-step-200, #cccccc);
  /**
   * @prop --timeline-dot-padding The top/bottom padding to apply to the timeline divider dot.
   */
  --timeline-dot-padding: 0px;

  --timeline-item-columns: 1fr 1fr 3fr;
}

ion-x-timeline[horizontal] {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;

  overflow-x: auto;

  height: 100%;

  scroll-snap-type: x mandatory;
}

ion-x-timeline[horizontal] ion-x-timeline-item {
  --timeline-item-columns: 1fr;

  flex-shrink: 0;

  padding: 0;

  display: flex;
  flex-direction: column;

  scroll-snap-align: start;
}

ion-x-timeline[horizontal] ion-x-timeline-item:not(:first-child) {
  border-left: 1px solid var(--timeline-divider-line-background);
}

ion-x-timeline[horizontal] ion-x-timeline-item::part(divider) {
  display: none;
}

ion-x-timeline[horizontal] ion-x-timeline-item::part(subtitle) {
  border-bottom: 1px solid var(--timeline-divider-line-background);
  padding: 8px;
  background-color: rgba(247,247,248, 0.8);
  justify-content: flex-start;
}

